.playlist {
    :global {
        canvas {
            position: absolute;
            pointer-events: none;
            opacity: 0.4;
            bottom: 0;
            left: 0;
            z-index: 1;
        }

        label {
            cursor: pointer;
        }

        .icon {
            cursor: pointer;
            font-size: 16px;
            &:hover {
                color: #777;
            }
        }

        .icon > label {
            display: flex;
            background-color: #ddd;
            width: 60px;
            border-radius: 10px;
            align-items: center;
            justify-content: space-around;
            & > span:nth-of-type(2) {
                font-size: 14px;
            }
        }

        .toggle {
            display: none;
            &:checked + .list {
                display: flex;
            }
        }

        .list {
            position: absolute;
            height: 350px;
            top: -350px;
            width: 900px;
            left: 50%;
            transform: translateX(-50%);
            background-image: linear-gradient(135deg, #f5f7fa, #c3cfe2);
            opacity: 0.95;
            display: none;
            z-index: 1000;
            border-radius: 8px 8px 0 0;
        }

        .list-left,
        .list-right {
            width: 50%;
        }

        .title {
            font-size: 16px;
            color: #333;
            height: 40px;
            display: flex;
            align-items: center;
            border-bottom: 1px solid #d6dfeb;
        }

        .clean {
            position: absolute;
            right: 32px;
            cursor: pointer;
            font-size: 14px;
            color: #777;
            &:hover {
                color: #333;
            }
        }

        .list-left > .title {
            position: relative;
            border-right: 1px solid #d6dfeb;
            padding-left: 32px;
        }

        .list-right > .title {
            display: flex;
            justify-content: center;
            & > span {
                width: 250px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                text-align: center;
            }
        }

        .content {
            height: 310px;
            overflow: hidden auto;
            font-size: 14px;
            text-align: center;
            scroll-behavior: smooth;
            scrollbar-width: thin; //FireFox浏览器有效

            //以下对Chrome有效
            &::-webkit-scrollbar {
                //滚动条
                display: block;
                width: 4px;
            }
            &::-webkit-scrollbar-thumb {
                //滑块
                background-color: #aaa;
                border-radius: 2px;
            }
            &::-webkit-scrollbar-thumb:hover {
                background-color: #666;
            }
        }

        .list-right > .content {
            padding: 0 30px;
        }

        .item {
            display: flex;
            height: 30px;
            align-items: center;
            position: relative;
            cursor: pointer;
            color: #333;
            &:hover {
                background-color: #d6dfeb;
                .icons {
                    opacity: 1;
                }
            }
        }

        .song-title {
            margin-left: 30px;
            width: 130px;
        }

        .icons {
            width: 100px;
            height: 100%;
            margin-left: 10px;
            margin-right: 10px;
            opacity: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            & > svg {
                cursor: pointer;
                margin: 0 4px;
                &:hover {
                    color: #fff;
                }
            }
        }

        .singer {
            width: 80px;
        }

        .duration {
            width: 50px;
            margin-left: 10px;
        }

        .song-title,
        .singer {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .lyric {
            transition: font-size 0.5s;
            color: #999;
        }

        .active {
            color: #111;
            font-size: 15px;
        }

        .close {
            position: absolute;
            right: 14px;
            top: 6px;
            font-size: 18px;
            cursor: pointer;
            &:hover {
                color: #333;
            }
        }

        .playing {
            background-color: #d6dfeb;
            & > svg {
                color: #c62f2f;
                font-size: 18px;
                position: absolute;
                top: 6px;
                left: 6px;
            }
        }
    }
}
