{
    "presets": [
        [
            "@babel/preset-env",
            {
                // 根据代码逻辑导入,而非全部导入
                "useBuiltIns": "usage",
                "corejs": 3
            }
        ],
        "@babel/preset-react"
    ]
}