.button {
  position: relative;
  display: inline-block;
  padding: 0 16px;
  min-width: 92px;
  height: 40px;
  line-height: 38px;
  border-radius: 20px;
  border: 1px solid transparent;
  text-align: center;
  user-select: none;
  cursor: pointer;
  transition: all 0.3s;

  & + .button {
    margin-left: 8px;
  }

  &:active {
    opacity: 0.7;
  }

  &:after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 20px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.5s;
    box-shadow: 0 0 0px 10px white;
  }

  &:active:after {
    box-shadow: 0 0 0 0 var(--primary-color);
    opacity: 1;
    transition: 0s;
  }
}


.button-default {
  border-color: #d9d9d9;
  color: #1e1e1e;

  &:hover {
    border-color: var(--primary-color);
    color: var(--primary-color);
  }
}

.button-loading {
  opacity: 0.7;
  cursor: default;
  pointer-events: none;
}

.button-primary {
  border-color: var(--primary-color);
  background-color: var(--primary-color);
  color: #fff;
}

.button-disabled {
  pointer-events: none;
  opacity: 0.7;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loading {
  margin-right: 8px;
  animation: rotate 1s linear infinite;
}
