.recommend-playlist {
    :global {
        .playlist {
            display: flex;
            justify-content: space-between;
        }

        .listitem {
            width: 20%;
            max-width: 240px;
            padding: 8px;
        }

        // 让图片宽高相同
        // padding 使用百分比是相对于父 width 的
        .image {
            display: block;
            position: relative;
            padding-bottom: 100%;
            overflow: hidden;
            cursor: pointer;
        }

        img {
            position: absolute;
            width: 100%;
            height: 100%;
        }

        .copywriter,
        .play-count {
            position: absolute;
            color: #fff;
            top: 0;
            right: 0;
        }

        .play-count {
            background-image: linear-gradient(to left, rgba(0, 0, 0, 0.6), transparent);
            width: 50%;
            padding: 0 5px;
            transition: all 0s 0.3s;
            text-align: right;
            white-space: nowrap;
        }

        .play-button {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 40px;
            width: 40px;
            font-size: 25px;
            color: #fff;
            background-color: rgba(0, 0, 0, 0.5);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border: 2px solid #fff;
            border-radius: 25px;
            opacity: 0;
            transition: opacity 0.3s 0.3s;
            &:hover {
                box-shadow: 0 0 8px #fff;
            }
        }

        .image:hover .play-button {
            opacity: 0.8;
        }

        .description {
            color: #000;
        }
    }
}
