.volume {
    display: flex;

    :global {
        .slider {
            padding-left: 5px;
            width: 150px;
        }

        .icon {
            cursor: pointer;
            &:hover {
                color: #666;
            }
        }

        .ant-slider-handle {
            border: 2px solid #c62f2f !important;
        }

        .ant-slider-rail {
            background-color: #bbb !important;
        }

        .ant-slider-track {
            background-color: #c62f2f !important;
        }
    }
}
