.control-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #bbb;
    width: 33.3%;

    .prev,
    .play-or-pause,
    .next {
        border: 2px solid #bbb;
        border-radius: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &:hover {
            border-color: #fff;
            color: #fff;
            box-shadow: 0 0 4px #fff;
        }
    }

    .prev,
    .next {
        height: 30px;
        width: 30px;
    }

    .play-or-pause {
        height: 40px;
        width: 40px;
        font-size: 25px;
        margin-left: 10px;
        margin-right: 10px;
        color: #fff;
        border-color: #fff;
    }
}