.tabs {
    color: #999;
    display: flex;
    line-height: 28px;
    text-align: center;
}

.tab,
.tab-active {
    cursor: pointer;
    width: 120px;
    position: relative;

    &::after {
        position: absolute;
        bottom: 0;
        left: 15%;
        border-bottom: 2px solid #c62f2f;
        width: 70%;
        transform: scale(0);
        transition: transform 0.8s;
        content: "";
    }
}

.tab-active {
    color: #000;
    &::after {
        transform: scale(1);
    }
}
