.recent-songlist {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px solid #eee;
    margin-bottom: 20px;

    :global {
        .left,
        .right {
            display: flex;
            flex-direction: column;
        }

        .left {
            border-right: 1px solid #eee;
        }

        .item {
            display: flex;
            align-items: center;
            padding: 10px 0;
            &:nth-of-type(2n) {
                background-color: #f5f5f5;
            }
            &:hover {
                background-color: #ddd;
            }
        }
        .order {
            padding: 0 15px;
            color: #bbb;
            user-select: none;
        }

        .image {
            display: block;
            position: relative;
            cursor: pointer;
        }

        img {
            height: 50px;
            width: 50px;
        }

        .play-button {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 20px;
            width: 20px;
            font-size: 12px;
            color: #fff;
            background-color: rgba(0, 0, 0, 0.5);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border: 1px solid #fff;
            border-radius: 10px;
            &:hover {
                box-shadow: 0 0 8px #fff;
            }
        }

        .information {
            margin-left: 20px;
        }

        .song-title {
            color: #222;

            &:hover {
                text-decoration: underline;
            }
        }

        .singer {
            font-size: 12px;
            color: #bbb;
            white-space: nowrap;
            max-width: 240px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}
