.toast-root {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 1011;
}

.toast {
  position: absolute;
  max-width: 204px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  word-break: break-all;
  color: #fff;
  background-color: #000;
  opacity: 0.7;
  padding: 8px 16px;
  border-radius: 8px;
}