.intro {
    :global {
        .block {
            margin-bottom: 1em;
        }
        h2 {
            font-weight: bold;
        }
        span {
            white-space: pre-line;
        }
    }
}
