.container {
    height: 100%;
    width: 33.3%;
    display: flex;
    align-items: center;

    :global {
        img {
            height: 50px;
            width: 50px;
            border-radius: 5px;
        }

        .song {
            display: flex;
            align-items: center;
        }

        a {
            color: #333;
            max-width: 400px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            &:hover {
                color: #333;
                text-decoration: underline;
            }
        }

        .information {
            margin-left: 15px;
        }

        .singer,
        .time {
            font-size: 12px;
            color: #666;
        }

        .singer {
            max-width: 100px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}
