.layout {
    display: grid;
    grid-template-rows: 64px calc(100vh - 128px) 64px;
    grid-template-columns: 200px calc(100vw - 200px);
    grid-template-areas:
        "top top"
        "left right"
        "bottom bottom";
    .top,
    .middle-left,
    .middle-right,
    .bottom {
        box-sizing: border-box;
    }

    .top {
        grid-area: top;
    }

    .middle-left {
        grid-area: left;
        position: relative;
    }

    .middle-right {
        grid-area: right;
        overflow: scroll;
        scrollbar-width: none;
        max-width: 1500px;
        width: 100%;
        margin: 10px auto 0;
    }

    .bottom {
        grid-area: bottom;
        min-width: 1000px;
    }

    //缩放按钮
    .toggle-button {
        position: absolute;
        height: clamp(75px, 12%, 150px);
        width: 16px;
        background-color: #2f4050;
        top: calc(50% - clamp(75px, 12%, 150px));
        right: -16px;
        cursor: pointer;
        z-index: 1;

        //画三角
        &::before,
        &::after {
            position: absolute;
            display: block;
            height: 0px;
            width: 0px;
            border: 8px solid transparent;  //部分浏览器不能绘制带小数的border
            left: 0px;
            border-left-color: #2f4050;
            content: '';
        }

        &::before {
            top: -16px;
            border-bottom-color: #2f4050;
        }

        &::after {
            bottom: -16px;
            border-top-color: #2f4050;
        }

        //箭头
        .arrow {
            display: inline-block;
            width: 0px;
            height: 0px;
            position: absolute;
            left: 0;
            top: calc(50% - 5px);
            border: 5px solid transparent;
            border-right-color: #fff;
            transform: translateX(-2.5px);
        }
        .rotate {
            transform: translateX(2.5px) rotate(180deg);
        }

    }
}

.layout-change {
    grid-template-columns: 0 100vw;
}
