.layout {
    height: 100vh;
    overflow: hidden;

    .top {
        height: 64px;
    }

    .middle {
        display: flex;
        height: calc(100vh - 128px);
        position: relative;
    }

    .left {
        flex-shrink: 0;
    }

    .right {
        overflow-y: auto;
        width: 100%;
        display: flex;
        justify-content: center;
        scrollbar-width: thin; // FireFox浏览器有效
        scroll-behavior: smooth;

        //以下对Chrome有效
        &::-webkit-scrollbar {
            //滚动条
            display: block;
            width: 8px;
        }
        &::-webkit-scrollbar-thumb {
            //滑块
            background-color: #bbb;
            border-radius: 3px;
        }
        &::-webkit-scrollbar-thumb:hover {
            background-color: #666;
        }
    }

    .bottom {
        height: 64px;
        min-width: 1000px;
    }
}
