.layout {
    height: 100vh;

    .top {
        height: 64px;
    }

    .middle {
        display: flex;
        height: calc(100vh - 128px);
        position: relative;

        .left {
            flex-shrink: 0;
        }

        .right {
            overflow: scroll;
            scrollbar-width: none;
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }

    .bottom {
        height: 64px;
        min-width: 1000px;
    }
}
