.layout {
    display: grid;
    grid-template-rows: 64px calc(100vh - 128px) 64px;
    grid-template-columns: 200px calc(100vw - 200px);
    grid-template-areas:
        "top top"
        "left right"
        "bottom bottom";
    .top,
    .middle-left,
    .middle-right,
    .bottom {
        box-sizing: border-box;
    }

    .top {
        grid-area: top;
    }

    .middle-left {
        grid-area: left;
    }

    .middle-right {
        grid-area: right;
        overflow: scroll;
        scrollbar-width: none;
    }

    .bottom {
        grid-area: bottom;
        min-width: 1000px;
    }
}
