.layout {
    height: 100vh;
    overflow: hidden;

    .top {
        height: 64px;
    }

    .middle {
        display: flex;
        height: calc(100vh - 128px);
        position: relative;
    }

    .left {
        flex-shrink: 0;
    }

    .right {
        overflow-y: auto;
        width: 100%;
        display: flex;
        justify-content: center;
        // scrollbar-width: thin;
        // scrollbar-color: #888 transparent;
        scroll-behavior: smooth;
    }

    .bottom {
        height: 64px;
        min-width: 1000px;
    }
}
