.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal {
  position: absolute;
  background-color: #fff;
  width: 480px;
  animation: fade-in 0.3s forwards;
  border-radius: 4px;

  :global {
    .modal-header {
      position: relative;
      height: 48px;
      line-height: 48px;
    }

    .modal-title {
      font-size: 20px;
      text-align: center;
    }

    .modal-close-icon {
      position: absolute;
      top: 12px;
      right: 16px;
      font-size: 24px;
      cursor: pointer;
    }

    .modal-content {
      overflow: auto;
      max-height: 640px;
      padding: 16px;
      border-top: 1px solid #ddd;
      border-bottom: 1px solid #ddd;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    .modal-footer {
      display: flex;
      justify-content: center;
      padding: 16px;
    }
  }
}

@keyframes fade-in {
  0% {
    transform: translateY(-40px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
