.header {
    background-color: #c62f2f;
    height: 100%;
    display: flex;
    align-items: center;

    .ant-avatar {
        margin-left: 40px;
        cursor: pointer;
        & > img {
            cursor: default;
        }
    }

    .username {
        color: #fff;
        margin-left: 15px;
        user-select: none;
    }

    .search {
        margin-left: 50px;
        width: 160px;
        background-color: rgba(0, 0, 0, 0.3);
        border: none;
        border-radius: 15px;
        .ant-input {
            background-color: transparent;
            color: #fff;
        }
    }

    .ant-input-search-icon::before {
        display: none;
    }
    .ant-input-affix-wrapper:hover,
    .ant-input-affix-wrapper:focus {
        border: none;
        box-shadow: none;
    }

    .ant-modal-confirm-btns {
        display: none;
    }
}
