.header {
    background-color: #c62f2f;
    height: 100%;
    display: flex;
    align-items: center;

    img {
        cursor: default;
    }

    .username {
        color: #fff;
        margin-left: 15px;
        user-select: none;
    }

    .logout {
        color: #2f4050;
        margin-left: 20px;
        font-size: 12px;
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
    }

    .search {
        margin-left: 50px;
        width: 160px;
        background-color: rgba(0, 0, 0, 0.3);
        border: none;
        border-radius: 15px;
    }
}
