.header {
    background-color: #c62f2f;
    height: 100%;
    display: flex;
    align-items: center;

    img {
        cursor: default;
    }

    .username {
        color: #fff;
        margin-left: 15px;
    }

    .logout {
        color: #2f4050;
        margin-left: 20px;
        font-size: 12px;
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
    }

    .search {
        margin-left: 50px;
        border-radius: 16px;
        transition: width 0.3s;
        overflow: hidden;
    }
}
