.header {
    background-color: #c62f2f;
    height: 100%;
    display: flex;
    align-items: center;

    :global {
        img {
            cursor: default;
        }

        .username {
            color: #fff;
            margin-left: 15px;
        }

        .logout {
            color: #2f4050;
            margin-left: 20px;
            font-size: 12px;
            cursor: pointer;
            &:hover {
                text-decoration: underline;
            }
        }

        .search-container {
            margin-left: 50px;
            position: relative;
        }

        .search-suggest {
            position: absolute;
            top: 38px;
            width: 320px;
            z-index: 1;
            background-color: #fff;
            border-radius: 4px;
        }

        .search-suggest-title {
            color: #999;
            font-size: 12px;
            padding: 0 16px;
        }

        .search-suggest-item {
            display: block;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            height: 32px;
            line-height: 32px;
            padding: 0 16px;
            color: #555;

            &:hover {
                color: #555;
                background-color: #eee;
            }
        }

        .search-input {
            border-radius: 16px;
            transition: width 0.3s;
            height: 32px;
            border: none !important;
            background-color: rgba(0, 0, 0, 0.3);
            box-shadow: none;
        }

        .ant-input {
            background: none;
            color: #fff;
        }

        .ant-input-suffix {
            font-size: 12px;
            color: rgba(0, 0, 0, 0.25);
        }

        .ant-avatar {
            margin-left: 40px;
            cursor: pointer;
        }
    }
}
