.header {
    .ant-avatar {
        margin-left: 40px;
        cursor: pointer;
    }

    .ant-select-selection-search-input {
        color: #fff;
        line-height: 32px;
    }

    .ant-select-selection-placeholder {
        line-height: 32px !important;
    }

    .ant-select-selector {
        border: none !important;
        background-color: rgba(0, 0, 0, 0.3) !important;
    }

    .ant-select-arrow {
        top: 48%;
    }

    .ant-modal-confirm-btns {
        display: none;
    }

    .ant-btn {
        border: none;
        background: none;
    }
    .ant-btn:hover,
    .ant-btn:focus,
    .ant-btn:active {
        background: none;
    }
}
