.other-button {
    width: 33.4%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 20px;
    color: #bbb;

    .icon {
        cursor: pointer;
        &:hover {
            color: #fff;
        }
    }

    .playlist label {
        cursor: pointer;
    }

    .volume {
        display: flex;
    }

    .slider {
        padding-left: 5px;
        width: 150px;
    }

    .ant-slider-rail {
        background-color: #666 !important;
    }
    .ant-slider-track {
        background-color: #c62f2f !important;
    }
    .ant-slider-handle {
        border: none;
    }

    .play-mode {
        margin-left: 15px;
        margin-right: 15px;
    }

    #toggle-list:checked {
        & + .list {
            display: flex;
        }
    }

    .list {
        position: absolute;
        height: 350px;
        top: -350px;
        width: 900px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #222;
        display: none;
        border-bottom: 1px solid #666;
        z-index: 1000;
    }

    .list-left,
    .list-right {
        width: 50%;
    }

    .title {
        font-size: 16px;
        color: #fff;
        height: 40px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid #666;
    }

    .clean {
        cursor: pointer;
        font-size: 14px;
        color: #bbb;
        &:hover {
            text-decoration: underline;
            color: #fff;
        }
    }

    .list-left > .title {
        border-right: 1px solid #666;
        padding: 0 30px;
        justify-content: space-between;
    }

    .list-right > .title {
        display: flex;
        justify-content: center;
    }

    .content {
        height: 310px;
        overflow-y: auto;
        font-size: 14px;
        text-align: center;
        scrollbar-width: thin; //FireFox浏览器有效

        //以下对Chrome有效
        &::-webkit-scrollbar {
            //滚动条
            display: block;
            width: 5px;
            height: 100%;
            background-color: #111;
            border-radius: 5px;
        }
        &::-webkit-scrollbar-thumb {
            //滑块
            background-color: #666;
            border-radius: 5px;
        }
    }

    .playing {
        color: #c62f2f;
        font-size: 18px;
        position: absolute;
        top: 6px;
        left: 6px;
    }

    .item {
        display: flex;
        height: 30px;
        align-items: center;
        position: relative;
        cursor: pointer;
        &:hover {
            background-color: #111;
            .icons {
                opacity: 1;
            }
        }
    }

    .song-title {
        margin-left: 30px;
        width: 130px;
    }

    .icons {
        width: 100px;
        margin-left: 10px;
        margin-right: 10px;
        opacity: 0;
        display: flex;
        justify-content: center;
        & > span {
            cursor: pointer;
            margin: 0 5px;
            &:hover {
                color: #fff;
            }
        }
    }

    .singer {
        width: 80px;
    }

    .duration {
        width: 50px;
        margin-left: 10px;
    }

    .song-title,
    .singer {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .close {
        position: absolute;
        right: 14px;
        top: 6px;
        font-size: 18px;
        cursor: pointer;
        &:hover {
            color: #fff;
        }
    }
}
