.carousel {
    height: calc(100% - 20px);
    overflow: hidden;

    .card-container {
        height: 100%;
        position: relative;
    }

    .card {
        height: 100%;
        width: 33.3%;
        transition: all 1s;
        position: absolute;
        opacity: 0.8;
        transform: scale(0.8);
        z-index: 998;
        cursor: pointer;
        user-select: none;
    }

    img {
        height: 100%;
        width: 100%;
    }

    .rects {
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .rect {
        height: 2px;
        width: 20px;
        background-color: #ddd;
        margin-right: 8px;
        cursor: pointer;
    }

    .active {
        background-color: #c62f2f;
    }
}
