.sidebar {
  height: 100%;
  width: 200px;
  overflow: hidden;
  white-space: nowrap;
  background-color: #2f4050;
  transition: all 1s;
  .category {
    color: #bbb;
    padding-left: 5px;
    user-select: none;
  }

  .item {
    display: block;
    height: 45px;
    cursor: pointer;
    color: #a7b1c2;
    font-weight: 600;
    padding: 10px 20px;

    &:hover {
      background-color: #293846;
      color: #fff;
    }
  }

  .active {
    background-color: #293846;
    color: #fff;
    position: relative;

    &::after {
      position: absolute;
      left: 0;
      top: 0;
      width: 3px;
      height: 100%;
      background-color: #007acc;
      content: "";
    }
  }
}

//checkbox选中，收起侧边栏
#toggle:checked {
  & + .sidebar {
    width: 0px;
    & + label {
      .toggle-button {
        left: 0;
      }
      .arrow {
        transform: translateX(2.5px) rotate(180deg);
      }
    }
  }
}

//缩放按钮
.toggle-button {
  position: absolute;
  height: clamp(75px, 12%, 150px);
  width: 16px;
  background-color: #2f4050;
  top: calc(50% - clamp(75px, 12%, 150px) * 0.5);
  left: 200px;
  cursor: pointer;
  z-index: 1;
  transition: all 1s;

  //画三角
  &::before,
  &::after {
    position: absolute;
    border: 8px solid transparent; //部分浏览器不能绘制带小数的border
    left: 0px;
    border-left-color: #2f4050;
    content: "";
  }

  &::before {
    top: -16px;
    border-bottom-color: #2f4050;
  }

  &::after {
    bottom: -16px;
    border-top-color: #2f4050;
  }

  //箭头
  .arrow {
    position: absolute;
    left: 0;
    top: calc(50% - 5px);
    border: 5px solid transparent;
    border-right-color: #fff;
    transition: all 1s;
    transform: translateX(-2.5px);
  }
}
