.tooltip {
  position: absolute;
  transform: translateX(-50%);
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
  height: 32px;
  line-height: 32px;
  font-size: 14px;
  padding: 0 12px;
  border-radius: 8px;
  text-align: center;
  white-space: nowrap;
  pointer-events: none;
  z-index: 1004;
}