.view {
    width: 100%;
    max-width: 1200px;
    padding: 10px 50px 0;

    :global {
        .title {
            font-size: 22px;
            border-bottom: 2px solid #eee;
            margin: 10px 0;
        }

        .item {
            display: flex;
            padding: 10px 15px;
            cursor: pointer;
            border-radius: 5px;
            position: relative;
            color: #000;

            &:hover {
                background-color: rgba(0, 0, 0, 0.3);
                text-decoration: none;
                .delete {
                    opacity: 1;
                }
            }
        }

        .image {
            width: 50px;
            height: 50px;
            & > img {
                width: 100%;
                height: 100%;
                border-radius: 5px;
            }
        }

        .content {
            display: flex;
            flex-direction: column;
            margin-left: 15px;
            justify-content: space-between;

            span:nth-of-type(2) {
                color: #888;
            }
        }

        .delete {
            position: absolute;
            bottom: 10px;
            right: 10px;
            color: #666;
            opacity: 0;
            font-size: 16px;
            &:hover {
                color: #fff;
            }
        }
    }
}
